@model MatchReservationSystem.Models.Reservation

@{
    ViewData["Title"] = "Create";
}
@if (User.IsInRole("Fan"))
{
    <h1>Create</h1>
}
else
{
    <h1>View</h1>
}
<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<d iv class="form-group">
            <label asp-for="ApplicationUserId" class="control-label"></label>
            <select asp-for="ApplicationUserId" class ="form-control" asp-items="ViewBag.ApplicationUserId"></select>
            </div>
            <div class="form-group">
            <label asp-for="MatchId" class="control-label"></label>
            <select asp-for="MatchId" class ="form-control" asp-items="ViewBag.MatchId"></select>
            </div>
            <div class="form-group">
            <label asp-for="MatchVenueId" class="control-label"></label>
            <select asp-for="MatchVenueId" class ="form-control" asp-items="ViewBag.MatchVenueId"></select>
            </div> *@
            <div class="form-group">
                <input asp-for="MatchId" class="form-control" type="hidden" value="@ViewBag.MatchId" />
            </div>
            <div class="form-group">
                <input asp-for="MatchVenueId" class="form-control" type="hidden" value="@ViewBag.MatchVenueId" />
            </div><div class="form-group">
                <input id="SeatPosInput" asp-for="SeatPosition" class="form-control" type="hidden" value="" />
            </div>
            <div class="form-group">
                <label asp-for="SeatPosition" class="control-label"></label>
                @* <select asp-for="SeatPosition" class ="form-control" asp-items="ViewBag.SeatPositions"></select> *@
                @for (int i = 0; i < ViewBag.venueHeight; i++)
                {
                    <div>
                        @for (int j = 0; j < ViewBag.venueWidth; j++)
                        {
                            <div id="seat-@ViewBag.Seats2D[i][j]" class="btn btn-primary grid-btn @(@ViewBag.ReservedPositionsBool[ViewBag.Seats2D[i][j]]? "grid-btn-rsrv" : "")">
                                @ViewBag.Seats2D[i][j]
                            </div>
                        }
                        <br />
                    </div>
                }
            </div>
            @*  <div class="form-group">
            <label asp-for="SeatPosition" class="control-label"></label>
            <input asp-for="SeatPosition" class="form-control" />
            <span asp-validation-for="SeatPosition" class="text-danger"></span>
            </div> *@
            @*   <div class="form-group">
            <label asp-for="ReservationDate" class="control-label"></label>
            <input asp-for="ReservationDate" class="form-control" />
            <span asp-validation-for="ReservationDate" class="text-danger"></span>
            </div> *@
            @if (User.IsInRole("Fan"))
            {
                <div class="form-group">
                    <input id="sendButton" type="submit" value="Create" class="btn btn-primary" />
                </div>
            }
        </form>
    </div>
</div>
@*
<div>
    <a asp-action="Index">Back to List</a>
</div>*@

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/reservation.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
