@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Welcome To</h3>
    <h1>Egyptian Premier League Reservation System</h1>

    <!-- Button for "View Matches" -->
    <div style="display: inline-block; margin: 20px;">
        <a class="btn btn-primary rounded-pill" asp-area="" asp-controller="Matches" asp-action="Index">
            @*<i class="fa fa-futbol-o" style="margin-right: 5px;"></i> *@
            View Matches
        </a>
    </div>
</div>